body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #eeeef0;
  opacity: 0.9;
  background: radial-gradient(
      circle,
      transparent 20%,
      #eeeef0 20%,
      #eeeef0 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #eeeef0 20%,
        hsl(240, 6%, 94%) 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#39b0ee 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #39b0ee 0.8px, #eeeef0 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}
.container {
  margin-top: 3rem;
  height: 35rem;
  width: 22rem;
  background-color: rgb(127, 132, 218);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
input {
  margin: 1rem 0 0.5rem 1rem;
  width: 16.5rem;
  height: 1.5rem;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.new-element {
  font-family: "Courier New", Courier, monospace;
  text-wrap: balance;
  cursor: pointer;
  margin-left: 1rem;
}
