body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
  height: 35rem;
  width: 22rem;
  background-color: rgb(247, 162, 162);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
input {
  margin: 1rem 0 0.5rem 1rem;
  width: 15rem;
  height: 1.5rem;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.new-element {
  height: 2rem;
  width: auto;
  text-align: justify;
  text-wrap: balance;
  cursor: pointer;
  margin-left: 1rem;
}
